.wrapper{
    background-color: white;
    display: flex;
    .imgBox{
        display: flex;
        padding: 30px;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        .uploadWrapper{
            position: relative;
            width: 200px;
            height: 200px;
            border: 1px dashed #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            input{
                opacity: 0;
            }
            .uploadLabel {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .uploadIcon {
                    font-size: 80px;
                    font-weight: bold;
                    color: #ccc;
                    margin-bottom: 10px;
                  }
                  
                  .uploadText {
                    font-size: 16px;
                    color: #999;
                  }                  
              }

        }
        .uploadWrapper:hover .upload-icon {
            color: #999;
          }
          
          .uploadWrapper:hover .upload-text {
            color: #666;
          }
        .preImg{
            width: 400px;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .header{
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: bold;
            }
            Button{
                margin-top: 20px;
            }
        } 
        .lastImg{
            width: 400px;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .header{
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: bold;
            }
        }  
    }
}
