.wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .header{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .content{
        .video{
            margin-top: 30px;
            width: 80%;
        }
    }
}